
<div  style="margin: 38px;">
  <div >
    <label for="comment">Place Json here:</label>
        <textarea class="form-control" rows="5" id="comment" [(ngModel)]="jsonData"></textarea>
  </div>
  
 
</div>
<div style="margin: 38px;">
  <label>Year: </label>
  <input type="text" [(ngModel)]="dateValue" minlength="4" maxlength="4"  onkeypress="return event.charCode >= 48 && event.charCode <= 57">
  <br>
  <button type="button" class="btn btn-primary" (click)="onbtnClick()" style="margin: 30px;">Update</button>
<div >





<div class="row">

  <div class="col-md-3">
<ng-container *ngFor="let mon of monArr;let i = index">

  <div style="height: 55px; margin: -53px 283px;
  width: 258px; border: 1px solid blue;background-color: mediumpurple;" *ngIf=" i == 0"  >
    <p style="margin: 13px 183px;
font-weight: bold;color: white;" >
MON 
</p>
<div class="row" *ngIf="this.monArr.length == 3">
  <ng-container *ngFor="let data of monArr;let i=index">
  <div  class="col col4" *ngIf="i == 0" [ngClass]="data.name[0]">{{titleCaseWord(data.name)}}</div>
  <div class="col" [ngClass]="data.name[0]" *ngIf="i == 1">{{titleCaseWord(data.name)}}</div>
</ng-container>
<div class="w-100">
<ng-container  *ngFor="let data1 of monArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 2">{{titleCaseWord(data1.name)}}</div>
</ng-container>
</div>
</div>

<div class="row" *ngIf="this.monArr.length == 4">
  <ng-container  *ngFor="let data1 of monArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 0 || j == 1">{{titleCaseWord(data1.name)}}</div>
</ng-container>

  <div class="w-100"> </div>
    <ng-container  *ngFor="let data of monArr ;let i =index">
      <div class="col col4" [ngClass]="data.name[0]" *ngIf="i == 2 || i == 3">{{titleCaseWord(data.name)}}</div>
      </ng-container>

</div>

<div class="row" *ngIf="this.monArr.length == 1">
  <ng-container  *ngFor="let data1 of monArr ;let j =index">
    <div class="singleData" [ngClass]="data1.name[0]"><p style="margin: 42px;" *ngIf="data1.name == 'x Birthday' else monelse">No Birthday</p>
      <ng-template #monelse>
        <p style=" margin: 42px;">{{titleCaseWord(data1.name)}}</p>
      </ng-template></div>
  </ng-container>
</div>
<div class="main2" *ngIf="this.monArr.length == 2">
  <div [ngClass]="data1.name[0]" *ngFor="let data1 of monArr">{{titleCaseWord(data1.name)}}</div>
</div>
<div class="main5" *ngIf="this.monArr.length == 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of monArr" style="height: 60px;">{{titleCaseWord(data1.name)}}</div>
 </div>
<div class="main5" *ngIf="this.monArr.length > 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of monArr">{{titleCaseWord(data1.name)}}</div>
 </div>


 <span id="birthdaycount" *ngIf="mon.name == 'x Birthday' else moncount"></span>
 <ng-template #moncount>
  <span id="birthdaycount" >{{this.monArr.length}} Birthday</span>
 </ng-template>
  </div>

</ng-container>
</div>

<div class="col-md-3">
<ng-container *ngFor="let tue of tueArr;let i = index">

  <div style="height: 55px; margin: -57px 272px;
  width: 258px; border: 1px solid blue;background-color: mediumpurple;" *ngIf=" i == 0"  >
    <p style="margin: 13px 183px;
font-weight: bold;color: white;" >
TUE
</p>
<div class="row" *ngIf="this.tueArr.length == 3">
  <ng-container *ngFor="let data of tueArr;let i=index">
  <div  class="col col4" *ngIf="i == 0" [ngClass]="data.name[0]">{{titleCaseWord(data.name)}}</div>
  <div class="col" [ngClass]="data.name[0]" *ngIf="i == 1">{{titleCaseWord(data.name)}}</div>
</ng-container>
<div class="w-100">
<ng-container  *ngFor="let data1 of tueArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 2">{{titleCaseWord(data1.name)}}</div>
</ng-container>
</div>
</div>

<div class="row" *ngIf="this.tueArr.length == 4">
  <ng-container  *ngFor="let data1 of tueArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 0 || j == 1">{{titleCaseWord(data1.name)}}</div>
</ng-container>

  <div class="w-100"> </div>
    <ng-container  *ngFor="let data of tueArr ;let i =index">
      <div class="col col4" [ngClass]="data.name[0]" *ngIf="i == 2 || i == 3">{{titleCaseWord(data.name)}}</div>
      </ng-container>

</div>

<div class="row" *ngIf="this.tueArr.length == 1">
  <ng-container  *ngFor="let data1 of tueArr ;let j =index">
    <div class="singleData" [ngClass]="data1.name[0]"><p style=" margin: 42px;" *ngIf="data1.name == 'x Birthday' else tueelse">No Birthday</p>
      <ng-template #tueelse>
        <p style=" margin: 42px;">{{titleCaseWord(data1.name)}}</p>
      </ng-template></div>
  </ng-container>
</div>

<div class="main2" *ngIf="this.tueArr.length == 2">
  <div [ngClass]="data1.name[0]" *ngFor="let data1 of tueArr">{{titleCaseWord(data1.name)}}</div>
</div>
<div class="main5" *ngIf="this.tueArr.length == 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of tueArr" style="height: 60px;">{{titleCaseWord(data1.name)}}</div>
 </div>
<div class="main5" *ngIf="this.tueArr.length > 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of tueArr">{{titleCaseWord(data1.name)}}</div>
 </div>
 <span id="birthdaycount" *ngIf="tue.name == 'x Birthday' else tuecount"></span>
 <ng-template #tuecount>
  <span id="birthdaycount" >{{this.tueArr.length}} Birthday</span>
 </ng-template>
  </div>

</ng-container>
</div>

<div class="col-md-3">
<ng-container *ngFor="let wed of wedArr;let i = index">

  <div style="height: 55px; margin: -53px 68%;
  width: 258px; border: 1px solid blue;background-color: mediumpurple;" *ngIf=" i == 0"  >
    <p style="margin: 13px 183px;
font-weight: bold;color: white;" >
WED
</p>
<div class="row" *ngIf="this.wedArr.length == 3">
  <ng-container *ngFor="let data of wedArr;let i=index">
  <div  class="col col4" *ngIf="i == 0" [ngClass]="data.name[0]">{{titleCaseWord(data.name)}}</div>
  <div class="col" [ngClass]="data.name[0]" *ngIf="i == 1">{{titleCaseWord(data.name)}}</div>
</ng-container>
<div class="w-100">
<ng-container  *ngFor="let data1 of wedArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 2">{{titleCaseWord(data1.name)}}</div>
</ng-container>
</div>
</div>

<div class="row" *ngIf="this.wedArr.length == 4">
  <ng-container  *ngFor="let data1 of wedArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 0 || j == 1">{{titleCaseWord(data1.name)}}</div>
</ng-container>

  <div class="w-100"> </div>
    <ng-container  *ngFor="let data of wedArr ;let i =index">
      <div class="col col4" [ngClass]="data.name[0]" *ngIf="i == 2 || i == 3">{{titleCaseWord(data.name)}}</div>
      </ng-container>

</div>

<div class="row" *ngIf="this.wedArr.length == 1">
  <ng-container  *ngFor="let data1 of wedArr ;let j =index">
    <div class="singleData" [ngClass]="data1.name[0]"><p style="    margin: 42px;"*ngIf="data1.name == 'x Birthday' else wedelse">No Birthday</p>
      <ng-template #wedelse>
        <p style=" margin: 42px;">{{titleCaseWord(data1.name)}}</p>
      </ng-template></div>
  </ng-container>
</div>

<div class="main2" *ngIf="this.wedArr.length == 2">
  <div [ngClass]="data1.name[0]" *ngFor="let data1 of wedArr">{{titleCaseWord(data1.name)}}</div>
</div>
<div class="main5" *ngIf="this.wedArr.length == 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of wedArr" style="height: 60px;">{{titleCaseWord(data1.name)}}</div>
 </div>
<div class="main5" *ngIf="this.wedArr.length > 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of wedArr">{{titleCaseWord(data1.name)}}</div>
 </div>
 <span id="birthdaycount" *ngIf="wed.name == 'x Birthday' else wedcount"></span>
 <ng-template #wedcount>
  <span id="birthdaycount" >{{this.wedArr.length}} Birthday</span>
 </ng-template>
  </div>

</ng-container>
</div>
</div>


<div class="row">
  <div class="col-md-3">
<!-- thur -->
 <ng-container *ngFor="let thur of ThurArr;let i = index">

  <div style="height: 55px; margin: 237px 32px;
  width: 258px; border: 1px solid blue;background-color: mediumpurple;" *ngIf=" i == 0"  >
    <p style="margin: 13px 183px;
font-weight: bold;color: white;" >
THU
</p>
<div class="row" *ngIf="this.ThurArr.length == 3">
  <ng-container *ngFor="let data of ThurArr;let i=index">
  <div  class="col col4" *ngIf="i == 0" [ngClass]="data.name[0]">{{titleCaseWord(data.name)}}</div>
  <div class="col" [ngClass]="data.name[0]" *ngIf="i == 1">{{titleCaseWord(data.name)}}</div>
</ng-container>
<div class="w-100">
<ng-container  *ngFor="let data1 of ThurArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 2">{{titleCaseWord(data1.name)}}</div>
</ng-container>
</div>
</div>
<div class="row" *ngIf="this.ThurArr.length == 4">
  <ng-container  *ngFor="let data1 of ThurArr ;let j = index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 0 || j == 1">{{titleCaseWord(data1.name)}}</div>
</ng-container>

  <div class="w-100"> </div>
    <ng-container  *ngFor="let data of ThurArr ;let i =index">
      <div class="col col4" [ngClass]="data.name[0]" *ngIf="i == 2 || i == 3">{{titleCaseWord(data.name)}}</div>
      </ng-container>

</div>

<div class="row" *ngIf="this.ThurArr.length == 1">
  <ng-container  *ngFor="let data1 of ThurArr ;let j =index">
    <div class="singleData" [ngClass]="data1.name[0]"><p style="    margin: 42px;" *ngIf="data1.name == 'x Birthday' else thurelse">No Birthday</p>
      <ng-template #thurelse>
        <p style=" margin: 42px;">{{titleCaseWord(data1.name)}}</p>
      </ng-template></div>
  </ng-container>
</div>

<div class="main2" *ngIf="this.ThurArr.length == 2">
  <div [ngClass]="data1.name[0]" *ngFor="let data1 of ThurArr">{{titleCaseWord(data1.name)}}</div>
</div>
<div class="main5"   *ngIf="this.ThurArr.length == 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of ThurArr" style="height: 60px;">{{titleCaseWord(data1.name)}}</div>
 </div>
<div class="main5" *ngIf="this.ThurArr.length > 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of ThurArr">{{titleCaseWord(data1.name)}}</div>
 </div>
 <span id="birthdaycount" *ngIf="thur.name == 'x Birthday' else thurcount"></span>
 <ng-template #thurcount>
  <span id="birthdaycount" >{{this.ThurArr.length}} Birthday</span>
 </ng-template>
  </div>

</ng-container>
<!-- thur -->
</div>
<div class="col-md-3">
<!-- fri -->
<ng-container *ngFor="let fri of FriArr;let i = index">

  <div style="height: 55px; margin: 235px 0px;
  width: 258px; border: 1px solid blue;background-color: mediumpurple;" *ngIf=" i == 0"  >
    <p style="margin: 13px 183px;
font-weight: bold;color: white;" >
FRI
</p>
<div class="row" *ngIf="this.FriArr.length == 3">
  <ng-container *ngFor="let data of FriArr;let i=index">
  <div  class="col col4" *ngIf="i == 0" [ngClass]="data.name[0]">{{titleCaseWord(data.name)}}</div>
  <div class="col" [ngClass]="data.name[0]"*ngIf="i == 1">{{titleCaseWord(data.name)}}</div>
</ng-container>
<div class="w-100">
<ng-container  *ngFor="let data1 of FriArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 2">{{titleCaseWord(data1.name)}}</div>
</ng-container>
</div>
</div>

<div class="row" *ngIf="this.FriArr.length == 4">
  <ng-container  *ngFor="let data1 of FriArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 0 || j == 1">{{titleCaseWord(data1.name)}}</div>
</ng-container>

  <div class="w-100"> </div>
    <ng-container  *ngFor="let data of FriArr ;let i =index">
      <div class="col col4" [ngClass]="data.name[0]" *ngIf="i == 2 || i == 3">{{titleCaseWord(data.name)}}</div>
      </ng-container>

</div>

<div class="row" *ngIf="this.FriArr.length == 1">
  <ng-container  *ngFor="let data1 of FriArr ;let j =index">
    <div class="singleData" [ngClass]="data1.name[0]"><p style="margin:30px"  *ngIf="data1.name == 'x Birthday' else frielse">No Birthday</p>
      <ng-template #frielse>
        <p style=" margin: 42px;">{{titleCaseWord(data1.name)}}</p>
      </ng-template></div>
  </ng-container>
</div>

<div class="main2" *ngIf="this.FriArr.length == 2">
  <div [ngClass]="data1.name[0]" *ngFor="let data1 of FriArr">{{titleCaseWord(data1.name)}}</div>
</div>
<div class="main5" *ngIf="this.FriArr.length == 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of FriArr" style="height: 60px;">{{titleCaseWord(data1.name)}}</div>
 </div>
<div class="main5" *ngIf="this.FriArr.length > 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of FriArr">{{titleCaseWord(data1.name)}}</div>
 </div>
 <span id="birthdaycount" *ngIf="fri.name == 'x Birthday' else fricount"></span>
 <ng-template #fricount>
  <span id="birthdaycount" >{{this.FriArr.length}}Birthday</span>
</ng-template>
  </div>

</ng-container> 
</div>
<div class="col-md-3">
<!-- fri -->
<ng-container *ngFor="let sat of satArr;let i = index">

  <div style="height: 55px; margin: 233px 10px;
  width: 258px; border: 1px solid blue;background-color: mediumpurple;" *ngIf=" i == 0"  >
    <p style="margin: 13px 183px;
font-weight: bold;color: white;" >
SAT
</p>
<div class="row" *ngIf="this.satArr.length == 3">
  <ng-container *ngFor="let data of satArr;let i=index">
  <div  class="col col4" *ngIf="i == 0" [ngClass]="data.name[0]">{{titleCaseWord(data.name)}}</div>
  <div class="col" [ngClass]="data.name[0]" *ngIf="i == 1">{{titleCaseWord(data.name)}}</div>
</ng-container>
<div class="w-100">
<ng-container  *ngFor="let data1 of satArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 2">{{titleCaseWord(data1.name)}}</div>
</ng-container>
</div>
</div>

<div class="row" *ngIf="this.satArr.length == 4">
  <ng-container  *ngFor="let data1 of satArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 0 || j == 1">{{titleCaseWord(data1.name)}}</div>
</ng-container>

  <div class="w-100"> </div>
    <ng-container  *ngFor="let data of satArr ;let i =index">
      <div class="col col4" [ngClass]="data.name[0]" *ngIf="i == 2 || i == 3">{{titleCaseWord(data.name)}}</div>
      </ng-container>

</div>

<div class="row" *ngIf="this.satArr.length == 1">
  <ng-container  *ngFor="let data1 of satArr ;let j =index">
    
    <div class="singleData" [ngClass]="data1.name[0]"><p style="    margin: 42px;" *ngIf="data1.name == 'x Birthday' else satelse">No Birthday</p>
      <ng-template #satelse>
        <p style=" margin: 42px;">{{titleCaseWord(data1.name)}}</p>
      </ng-template>
    
    
    </div>
  </ng-container>
</div>

<div class="main2" *ngIf="this.satArr.length == 2">
  <div [ngClass]="data1.name[0]" *ngFor="let data1 of satArr">{{titleCaseWord(data1.name)}}</div>
</div>
<div class="main5" *ngIf="this.satArr.length == 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of satArr" style="height:60px">{{titleCaseWord(data1.name)}}</div>
 </div>
<div class="main5" *ngIf="this.satArr.length > 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of satArr">{{titleCaseWord(data1.name)}}</div>
 </div>
 <span id="birthdaycount" *ngIf="sat.name == 'x Birthday' else satcount"></span>
 <ng-template #satcount>
  <span id="birthdaycount" >{{this.satArr.length}}Birthday</span>
</ng-template>

  </div>
</ng-container>
</div>
</div>

<ng-container *ngFor="let sun of sundayArr;let i = index">

  <div style="height: 55px;     margin: -294px 1225px;
  width: 258px; border: 1px solid blue;background-color: mediumpurple;" *ngIf=" i == 0"  >
    <p style="margin: 13px 183px;
font-weight: bold;color: white;" >
SUN
</p>
<div class="row" *ngIf="this.sundayArr.length == 3">
  <ng-container *ngFor="let data of sundayArr;let i=index">
  <div  class="col col4" *ngIf="i == 0" [ngClass]="data.name[0]">{{titleCaseWord(data.name)}}</div>
  <div class="col" [ngClass]="data.name[0]" *ngIf="i == 1">{{titleCaseWord(data.name)}}</div>
</ng-container>
<div class="w-100">
<ng-container  *ngFor="let data1 of sundayArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 2">{{titleCaseWord(data1.name)}}</div>
</ng-container>
</div>
</div>

<div class="row" *ngIf="this.sundayArr.length == 4">
  <ng-container  *ngFor="let data1 of sundayArr ;let j =index">
  <div class="col col4" [ngClass]="data1.name[0]" *ngIf="j == 0 || j == 1">{{titleCaseWord(data1.name)}}</div>
</ng-container>

  <div class="w-100"> </div>
    <ng-container  *ngFor="let data of sundayArr ;let i =index">
      <div class="col col4" [ngClass]="data.name[0]" *ngIf="i == 2 || i == 3">{{titleCaseWord(data.name)}}</div>
      </ng-container>

</div>

<div class="row"  *ngIf="this.sundayArr.length == 1">
  <!-- <ng-container  > -->
    <div class="singleData" [ngClass]="data1.name[0]" *ngFor="let data1 of sundayArr ;let j =index">
      
      <p style=" margin: 42px;" *ngIf="data1.name == 'x Birthday' else sunelse">No Birthday</p>
      <ng-template #sunelse>
        <p style=" margin: 42px;">{{titleCaseWord(data1.name)}}</p>
      </ng-template>
    
    </div>
  <!-- </ng-container> -->
</div>


<div class="main2" *ngIf="this.sundayArr.length == 2">
  <div [ngClass]="data1.name[0]" *ngFor="let data1 of sundayArr">{{titleCaseWord(data1.name)}}</div>
</div>
<div class="main5" *ngIf="this.sundayArr.length == 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of sundayArr" style="height: 60px;">{{titleCaseWord(data1.name)}}</div>
 </div>

<div class="main5" *ngIf="this.sundayArr.length > 5 ">  

  <div [ngClass]="data1.name[0]" *ngFor="let data1 of sundayArr">{{titleCaseWord(data1.name)}}</div>
 </div>
 <span id="birthdaycount" *ngIf="sun.name == 'x Birthday' else suncount"></span>
 <ng-template #suncount>
  <span id="birthdaycount" >{{this.sundayArr.length}} BirthDay</span>
 </ng-template>
  </div>
</ng-container>
</div> 







