
.A{
    background-color: red;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.B{
    background-color: rosybrown;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.C{
    background-color: saddlebrown;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.D{
    background-color: skyblue;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.E{
    background-color: cadetblue;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.F{
    background-color:crimson;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.G{
    background-color:darkolivegreen;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.H{
    background-color:darkorange;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.I{
    background-color:fuchsia;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.J{
    background-color:deeppink;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.k{
    background-color:indigo;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.K{
    background-color:indigo;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.T { 
    background-color:lawngreen;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.V{
    background-color:green !important;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.t {
    background-color:lightcoral;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.S {
  background-color:palevioletred;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.s {
  background-color:palevioletred;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.R{
    background-color:lightsalmon;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.M{
    background-color:olive;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.P{
  background-color:peru;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.p{
  background-color:peru;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: white;
}


.main5 {
    width: 258px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
  }

  .main5 div {
    width: 51px;
    /* height: 69px; */
  }
  .main2 {
    width: 257px;
   height: 153px;
    border: 1px solid black;
    display: flex;
 
  }
  
  .main2 div {
    -ms-flex: 3;  /* IE 10 */  
    flex: 2;
  }
  /* .main3 {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-flow: row-reverse wrap;
  }
  
  .main3 div {
    width: 50px;
    height: 50px;
  } */
  .main4{
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
  }
  
  .main div {
    width: 50px;
    height: 50px;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
  }

  .col4{
      height: 76px;
  }

  .main {
    width: 258px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
  }
  
  .main div {
    width: 50px;
    height: 50px;
  }

  .main3 {
    width: 255px;
    height: 48px;
  }

  .main3 {
    width: 258px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
  }
  .row4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 16%;
    margin-left: 0px;
  }

  .singleData{
    /* border: 1px solid #455c91; */
    height: 151px;
    width: 260px;
  }

  #birthdaycount{
    font-size: 19px;
    font-weight: bold;
  }


  .x{
    background: black;
    color: white
  }